@using LinkBlog.Contracts
@using Microsoft.AspNetCore.Components

@if (DisplayPost != null)
{
    <article class="post">
        <h2>@DisplayPost.Title</h2>
        <div class="meta">
            Posted on <time datetime="@DisplayDate.ToString("yyyy-MM-dd")">@DisplayDateTime</time>
        </div>
        <div>
            @if (DisplayPost.Link != null)
            {
                <a href="@DisplayPost.Link" target="_blank" rel="noopener noreferrer">@DisplayPost.LinkTitle</a>
                <br /><br />
            }
            <!-- The post contents can contain HTML tags for formatting. -->
            @((MarkupString)DisplayPost.Contents!)
        </div>
        <div class="tags">
            Tags: @foreach (var tag in DisplayPost.Tags)
            {
                <a href="/tags/@tag.Name" class="tag">@tag.Name</a>@(tag != DisplayPost.Tags.Last() ? ", " : "")
            }
        </div>
    </article>
}

@code {
    [Parameter]
    public Post? DisplayPost { get; set; }

    public DateTimeOffset DisplayDate;
    public string? DisplayDateTime;

    protected override void OnInitialized()
    {
        DateTimeOffset utcDateTime = DisplayPost!.Date;
        
        // Specify the target time zone (Pacific Standard Time)
        TimeZoneInfo pacificZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
        
        // Convert to the target time zone
        DisplayDate = TimeZoneInfo.ConvertTime(utcDateTime, pacificZone);
        DisplayDateTime = $"{DisplayDate:MMMM d}{GetDaySuffix(DisplayDate.Day)}, {DisplayDate:yyyy 'at' h:mmtt} PST";
    }

    private static string GetDaySuffix(int day)
    {
        return (day % 10 == 1 && day != 11) ? "st" :
               (day % 10 == 2 && day != 12) ? "nd" :
               (day % 10 == 3 && day != 13) ? "rd" : "th";
    }
}