@page "/"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject PostsClient PostsClient

<PageTitle>Home</PageTitle>

<h1>David Jarman's Links</h1>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <main>
        @foreach (var post in posts)
        {
            <article class="post">
                <h2>@post.Title</h2>
                <p class="meta">
                    Posted on <time datetime="@post.Date.ToString("yyyy-MM-dd")">@post.Date.ToString("f")</time>
                </p>
                <p>
                    @if (post.Url != null)
                    {
                        <a href="@post.Url" target="_blank" rel="noopener noreferrer">@post.Url</a>
                        <br><br>
                    }

                    @post.Contents
                </p>
            </article>
        }
    </main>
}

@code {
    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostsClient.GetPostsAsync();
    }
}
